/* .top{

    background-color: steelblue;
    height: 140px;
    width: 140px;
    border: 10px;
    border-style: solid;
    padding: 20px;
    

} */

body{

    font-family: "Helvetica Neue", Arial, Helvetica, verdana, sans-serif;
    text-align: center;
    background-color: lightcyan;
}

h1{
    

    margin: 0 auto 0 auto;
}

/* .mid{

    background-color: red;
    height: 160px;
    width: 160px;
    margin-left: 200px;
    border: 20px;
    border-style: solid;

} */

/* .bottom{

    background-color: blue;
    height: 180px;
    width: 180px;
    border: 10px;
    border-style: solid;
    margin-left: 400px;

} */

.guy{
    text-decoration: underline;
}

.topcloud{
    position: absolute;
    right: 30%;
    top: 50px;

}

.bottomcloud{
    position: absolute;
    left: 28%;

}

.top{

    position: relative;
    padding: 100px;
}

.p1{
    font-size: 1.9rem;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto
    
}




